################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/.vs
/Frontend/.angular/cache/16.2.5
/Frontend/node_modules
