################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/.vs
/Frontend/.angular/cache/16.2.5
/Frontend/node_modules
/Backend/WebApiDonCho/obj
/Backend/WebApiDonCho/bin/Debug/net10.0
/Backend/ComprobantesElectronicos/bin/Debug/net10.0
/Backend/ComprobantesElectronicos/obj
/Backend/EFModel/bin/Debug/net10.0
/Backend/EFModel/obj
/Frontend/.vscode/launch.json
/Frontend/.angular/cache/16.2.16
/Backend/EnvioCorreos/bin/Debug/net10.0
/Backend/EnvioCorreos/obj
