<p-toast></p-toast>
<div class="card" style="background-color: white;">
    <p-tabView (onChange)="onChangeTab($event)" [(activeIndex)]="activeIndex" styleClass="tabview-custom">
        <p-tabPanel header="Selección de platos">
            <div style="background-color: white;align-items: center;">
                <span>
                    <!-- <p-button (onClick)="fillGrupoProducto();" *ngIf="this.mostrarCargar">Cargar productos!
                    </p-button> -->
                    <H5>ORDEN NUMERO: {{ lsecuencia.secuencia }}</H5>
                </span>
            </div>
            <div class="row" style="background-color: white;">
                <H6>CHOCLO</H6>

                <div class="col-sm d-grid" *ngFor="let producto of lproductoschoclo">
                    <p-button styleClass="btn btn-sm btn-choclo" (onClick)="onClickProducto(producto, '+')">
                        {{producto.nombre}} <br />
                        ${{producto.valor}} <span
                            [ngClass]="producto.badge == 0 ? 'badge text-bg-secondary' : 'badge rounded-pill text-bg-success'">{{producto.badge}}</span>

                    </p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-danger"
                        (onClick)="onClickProducto(producto,'-')">x</p-button>
                </div>
            </div>
            <div class="row" style="background-color: white;">

                <h6>CHOCHO</h6>
                <div class="col-sm d-grid" *ngFor="let producto of lproductoschocho">
                    <p-button styleClass="btn btn-sm btn-chocho" (onClick)="onClickProducto(producto,'+')">
                        {{producto.nombre}} <br />
                        ${{producto.valor}} <span
                            [ngClass]="producto.badge == 0 ? 'badge text-bg-secondary' : 'badge rounded-pill text-bg-success'">{{producto.badge}}</span>
                    </p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-danger"
                        (onClick)="onClickProducto(producto,'-')">x</p-button>
                </div>
            </div>
            <div class="divFlotanteGrabarContinuar" style="background-color: white;">
                <div class="item">
                    <p-button (onClick)="continueToResumen()">Click para continuar
                    </p-button>
                </div>
            </div>
            <div class="row" style="background-color: white;">

                <h6>PORCIONES</h6>


                <div class="col-sm d-grid" *ngFor="let producto of lproductosporciones">
                    <p-button styleClass="btn btn-sm btn-porciones" (onClick)="onClickProducto(producto,'+')">
                        {{producto.nombre}} <br />
                        ${{producto.valor}} <span
                            [ngClass]="producto.badge == 0 ? 'badge text-bg-secondary' : 'badge rounded-pill text-bg-success'">{{producto.badge}}</span>
                    </p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-danger"
                        (onClick)="onClickProducto(producto,'-')">x</p-button>

                </div>
            </div>
            <div class="row" style="background-color: white;">

                <h6>BEBIDAS</h6>
                <div class="col-sm d-grid" *ngFor="let producto of lproductosbebidas">
                    <p-button styleClass="btn btn-sm btn-bebidas" (onClick)="onClickProducto(producto,'+')">
                        {{producto.nombre}} <br />
                        ${{producto.valor}} <span
                            [ngClass]="producto.badge == 0 ? 'badge text-bg-secondary' : 'badge rounded-pill text-bg-success'">{{producto.badge}}</span>
                    </p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-danger"
                        (onClick)="onClickProducto(producto,'-')">x</p-button>

                </div>
            </div>
            <div class="row" style="background-color: white;">

                <h6>OTROS</h6>
                <div class="col-sm d-grid" *ngFor="let producto of lproductosotros">
                    <p-button styleClass="btn btn-sm btn-otros" (onClick)="onClickProducto(producto,'+')">
                        {{producto.nombre}} <br />
                        ${{producto.valor}} <span
                            [ngClass]="producto.badge == 0 ? 'badge text-bg-secondary' : 'badge rounded-pill text-bg-success'">{{producto.badge}}</span>
                    </p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-danger"
                        (onClick)="onClickProducto(producto,'-')">x</p-button>
                </div>
            </div>
            <!-- <div class="row" style="background-color: white;">
                <div class="item">
                    <p-button (onClick)="activeIndex = 1">Click para continuar
                    </p-button>
                </div>
            </div> -->

        </p-tabPanel>
        <p-tabPanel header="Resumen de orden">
            <div>
                <tr>
                    <td>
                        <h5>ORDEN NUMERO: {{ lsecuencia.secuencia }}</h5>
                    </td>
                    <td style="padding-left: 6rem;">Es factura?</td>
                    <td style="padding-left: 1rem;">
                        <p-selectButton [options]="this.lFacturar" [(ngModel)]="pedido.esFactura" optionLabel="label"
                            optionValue="value" />
                    </td>
                </tr>
            </div>
            <p-table #dt [value]="pedido.FacDetalleOrdens" dataKey="id"
                [tableStyle]="{'min-width': '50rem', 'height': '4rem'}" [rowHover]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Cantidad</th>
                        <th>Detalle plato</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                        <th>P.Uni.DCho</th>
                        <th>P.Tot.Dcho</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td>{{ producto.Cantidad }}</td>
                        <td>{{ producto.Nombre }}</td>
                        <td>{{ producto.PrecioUnitario | currency:'USD':'symbol'}}</td>
                        <td>{{ producto.PrecioTotal | currency:'USD':'symbol'}}</td>
                        <td>{{ producto.PrecioUnitarioDoncho | currency:'USD':'symbol'}}</td>
                        <td>{{ producto.PrecioTotalDoncho | currency:'USD':'symbol'}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <tr>
                        <td style="align-content: center">Subtotal : <span class="tab"></span></td>
                        <td style="color: red; font-size: xx-large; padding-left: 0rem;">{{ pedido.TotalSinImpuestos |
                            currency:'USD':'symbol' }}
                        </td>
                        <td>IVA : <span class="tab"></span></td>
                        <td style="color: red; font-size: xx-large; padding-left: 3rem;">{{ pedido.ImpuestoValor |
                            currency:'USD':'symbol'
                            }}
                        </td>
                        <td>Total a cancelar : <span class="tab" [style]="{'height':'0.5rem'} "></span></td>
                        <td style="color: red; font-size: xx-large;">{{ pedido.TotalOrden | currency:'USD':'symbol' }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="form-group row">
                <label for="formasdepago" class="col-sm-2 col-form-label">Forma de pago</label>
                <div class="col-sm-4">
                    <tr>
                        <td>
                            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                                value="EF" autocomplete="off" [(ngModel)]="selectedFP" checked>
                            <label class="btn btn-outline-success" for="success-outlined">Efectivo</label>
                        </td>
                        <td>
                            <input type="radio" class="btn-check" name="options-outlined" id="success-outlined1"
                                value="TR" autocomplete="off" [(ngModel)]="selectedFP">
                            <label class="btn btn-outline-success" for="success-outlined1">Transferencia</label>
                        </td>
                    </tr>
                </div>
            </div>

            <div class="form-group row">
                <label for="pago" class="col-sm-2 col-form-label"
                    style="font-size:larger; font-weight: bolder; padding-left: '2rem';">Efectivo recibido:</label>
                <div class="col-sm-4">
                    <tr>
                        <td>
                            <input #efectivorecibido matInput onfocus="this.select()" type="text" id="pago"
                                class="form-control" style="color: navy;font-size:larger; " placeholder="Pago"
                                [(ngModel)]="pago" (ngModelChange)="calcularCambio($event)">
                        </td>
                    </tr>
                </div>

                <label for="cambio" class="col-sm-4 col-form-label">Vuelto a entregar:</label>
                <div class="col-sm-1" style="padding-left: 1rem;">
                    <tr>
                        <td>
                            <div class="text-cambio blink_me" style="padding-left: 1rem;">
                                {{cambio | currency:'USD':'symbol'}}
                            </div>
                        </td>
                    </tr>
                </div>
            </div>

            <div class="form-group row">
                <label for="voucher" class="col-sm-2 col-form-label">Número de voucher/transferencia:</label>
                <div class="col-sm-2">
                    <input type="text" id="voucher" class="form-control" [(ngModel)]="pedido.documentopago"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <p>
                <button class="btn btn-primary" type="button" (click)="openClienteDialog()">
                    Datos Cliente
                </button>
            </p>
            <div class="divFlotanteRegresar">
                <div class="">
                    <p-button label="Regresar" [loading]="loading" (onClick)="activeIndex = 0"></p-button>
                </div>
            </div>
            <div class="divFlotanteGrabarContinuar">
                <div class="">
                    <p-button label="Grabar" [loading]="loading" (onClick)="grabarOrden()"></p-button>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

</div>

<p-dialog [(visible)]="clienteDialog" [style]="{width: '450px'}" header="Detalles del cliente" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="cedula_ruc" class="col-sm-2 col-form-label">Ruc/Cédula</label>
            <div class="col-sm-6">
                <input type="text" id="cedula_ruc" class="form-control" [(ngModel)]="cliente.cedulaRuc"
                    aria-describedby="basic-addon1">
                <p-button label="Search" icon="pi pi-check" *ngIf="!clienteEncontrado" [loading]="searchingCliente"
                    (onClick)="searchCliente()" />
            </div>
        </div>
        <div class="p-field">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" id="nombre" class="form-control" [(ngModel)]="cliente.nombre"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="p-field">
            <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-6">
                <input type="text" id="apellido" class="form-control" [(ngModel)]="cliente.apellido"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="p-field">
            <label for="telefono_celular" class="col-sm-2 col-form-label">Teléfono Celular</label>
            <div class="col-sm-6">
                <input type="text" id="telefono_celular" class="form-control" [(ngModel)]="cliente.telefono_celular"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="p-field">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text" id="email" class="form-control" [(ngModel)]="cliente.email"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="p-field">
            <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-6">
                <input type="text" id="direccion" class="form-control" [(ngModel)]="cliente.direccion"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="p-field">
            <label for="fecha_cumpleanios" class="col-sm-2 col-form-label">Fecha de Cumpleaños</label>
            <div class="col-sm-6">
                <input type="text" id="fecha_cumpleanios" class="form-control" [(ngModel)]="cliente.fecha_cumpleanios"
                    aria-describedby="basic-addon1">
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="hideDialogCliente()"></button>
        <button pButton pRipple label="Continuar" icon="pi pi-check" class="p-button-text"
            (click)="saveCliente()"></button>
    </ng-template>
</p-dialog>